@font-face {
  font-family: UpheavalPro;
  src: url(../fonts/UpheavalPro.ttf);
}

html,
body {
	width: 100%;
	height: 100%;
	font-family: UpheavalPro, serif;
}
body {
	background: url('../img/bg_pattern.jpg') center 0 repeat;
	
}
.wrapper {
	position: relative;
	display: block;
	width: 992px;
	margin: 0 auto;
	&__main {
		position: relative;
		display: block;
		height: 100%;
		background: url('../img/bg_pattern_center.jpg') center 0 repeat-y;
		margin: 0 auto;
	}
}	