.header {
	position: relative;
	display: block;

	height: 292px;
	width: 100%;

	background: url('../img/header_pattern.png') 0 46px repeat-x;
	margin: 0 0 200px;
	&__logo {
		position: absolute;
		display: block;
		width: 867px;
		height: 498px;
		background: url('../img/header_logo.png') 0 0 no-repeat;
		left: -72px;
	}
	&__name {
		position: absolute;
		display: block;
		width: 480px;
		height: 144px;
		background: url('../img/header_name.png') 0 0 no-repeat;
		top: 62px;
		left: 439px;
	}
	&__slogan {
		position: absolute;
		display: block;
		top: 220px;
		left: 481px;
		font-size: 30px;
		line-height: 24px;
		color: #000000;
		span {
			color: #ffffff;
		}
		i {
			color: #940000;	
			text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
		}
	}
}